.div1{   
    display: flex;
    justify-content: center;
    background-color: #fff;
    width:225px;
}
.div2{

    width:100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
    box-sizing: border-box;
}
.div3{

    display: flex;
    justify-content: center;
    background-color:#fff;
    width:225px;
}
.flipkart_logo_div_container{
display: grid;
}
.search_bar_prop{
    height:40px;
    border-radius:10px;
    border: 1px;
    background-color: rgba(240,245,255,255);
}   
.search_bar_prop::placeholder{

    padding-left: 35px;
    font-size:17px;

}
.glass{
    position: relative;
    height: 35px;
    top: 2px;
    left:40px;
    cursor: pointer;
}
.list_top{
display: flex;
justify-content: center;
align-items: center;

}
.list_div_blank{
width:150px ;

}

.item_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;


}
.card_item{
    padding-top:20px ;
    padding-bottom:20px ;
    padding-left:20px ;
    padding-right: 20px;
    flex-direction: column;
}
.inner_card{
align-items: center;
justify-content: center;

}

.list_top{
    background-color:rgba(241,242,244,255);
    height:150px;
    margin-top:10px;

}
.carosal_block{
    display: flex;
    flex-direction:row ;
    justify-content: center;
    align-items: center;
    background-color:rgba(241,242,244,255);
    height:250px;
    margin-top:15px ;

}
.carosal_container{
    width: 1600px;
    background-color:#fff;
    height:250px;


}