.div1{   
    display: flex;
    justify-content: center;
    background-color: #fff;
    width:225px;
}
.div2{

    width:100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
    box-sizing: border-box;
}
.div3{

    display: flex;
    justify-content: center;
    background-color:#fff;
    width:225px;
}
.flipkart_logo_div_container{
display: grid;
}
.search_bar_prop{
    height:40px;
    border-radius:10px;
    border: 1px;
    background-color: rgba(240,245,255,255);
}
.search_bar_prop::placeholder{

    padding-left: 20px;


}